@using ZoomTourism.Models;

@model IEnumerable<Blog>

<head>
    <link rel="stylesheet" href="~/css/Blogs.css" asp-append-version="true" />

</head>
<select id="languageSelector">
    <option value="en">English</option>
    <option value="ar">العربية</option>
</select>
<section class="BlogSection">

    <div class="section-title">
        <div class="section-title-text">
            <h2 class="translate" data-translate-key="blogs_heading">Our Blogs</h2>
            <h3 class="translate" data-translate-key="explore_blogs_heading">Explore our blogs</h3>
        </div>
        <div class="Search-Input">
            <div id="category-buttons">
                <button class="translate" data-category="all" data-translate-key="all">All</button>
                <button class="translate" data-category="tourism" data-translate-key="tourism">Tourism</button>
                <button class="translate" data-category="politics" data-translate-key="politics">Politics</button>
                <button class="translate" data-category="celebration" data-translate-key="celebration">Celebration</button>
            </div>

            <input type="text" id="search-input" placeholder="Search blog...">

        </div>

    </div>




    <ul id="blog-list" class="blogBox">
        @foreach (var Blog in Model.OrderByDescending(p => p.DatePosted).ToList())
        {
            <li>
                <a asp-action="BlogDetails" asp-route-id="@Blog.Id">
                    <div class="blog-right">
                        <img alt="@Blog.Title" src="@Blog.ImageUrl" height="200" draggable="false">
                        <div class="blog-right-text">
                            <p>@Blog.DatePosted</p>
                            <p hidden>@Blog.Category</p>
                            <h3 class="show-read-more">@Blog.Title</h3>
                            <p style="color: #ffffff;">READ MORE</p>
                        </div>
                    </div>
                </a>
            </li>
        }
       
       
       

    </ul>

</section>
@section Scripts{
    <script>
        // Define a JavaScript variable for the current page
        var currentPage = "blogs";
    </script>
    <script src="~/js/IndexTranslation.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../Javascript/app.js"></script>
    <script src="../Javascript/search.js"></script>

}