@using ZoomTourism.Models;

@model IEnumerable<Trip>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trips";

}
<head>
    <link rel="stylesheet" href="~/css/Trips.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Blogs.css" asp-append-version="true" />

</head>



   
    <section class="TripsSection">

        <div class="section-title">
            <div class="section-title-text">
                <h2 class="translate" data-translate-key="section_title">Our Trips</h2>
                <h3 class="translate" data-translate-key="explore_our_trips">Explore our Trips</h3>
            </div>
            <div class="Search-Input">
                <input type="text" id="search-input" placeholder="Search blog...">

            </div>

        </div>

        <ul id="blog-list" class="tripsBox">
               @foreach (var Trip in Model.OrderByDescending(p => p.CreatedDate).ToList())
            {
                <li>
                    <a asp-action="TripDetails" asp-route-id="@Trip.Id">
                        <div class="carousel-item">
                            <div class="Thumbnail">
                                @if (Trip.Price != 0 || Trip.Price != null)
                                {
                                    <span>@Trip.Price</span>
                                }
                            <img src="@Trip.ImageUrl" style="max-height: 300px;" alt="Trip 1">
                        </div>

                        <div class="trip-description">
                            <div class="trip-title">
                                <h3>Enjoy the Beauty of @Trip.Title</h3>
                                <p>@Trip.Title</p>
                            </div>

                            <div class="rating">
                                <div class="star-rating"><img src="~/assets/Icons/StarReview.png" alt="star">4.6</div>
                                <span>(@Trip.numOfReviews)</span>
                            </div>
                        </div>
                </a>
            </li>
            }
          
        </ul>

    </section>




@section Scripts{
    <script>
        // Define a JavaScript variable for the current page
        var currentPage = "tripsPage";

        $(document).ready(function () {

            // Load the user's preferred language from localStorage, if available
            var userLanguage = localStorage.getItem('userLanguage');
            if (userLanguage) {
                // Set the language selector to the user's preferred language
                $('#languageSelector').val(userLanguage);
                // Load the user's preferred language
                loadLanguage(userLanguage);
            } else {
                // If no preference is set, load the default language (English)
                loadLanguage('en');
            }

            // Handle language selection change
            $('#languageSelector').change(function () {
                var selectedLanguage = $(this).val();

                // Store the user's language preference in localStorage
                localStorage.setItem('userLanguage', selectedLanguage);
                loadLanguage(selectedLanguage);
            });
        });

        function loadLanguage(language) {

            var currentPage = window.currentPage;
            $.getJSON('/Translation/languages.json', function (data) {
                var translations = data[language][currentPage];
               
                $('.translate').each(function () {
                    var key = $(this).data('translate-key');
                    $(this).text(translations[key]);
                });
            }).done(function () {
                console.log('JSON file loading completed.');
            }).fail(function (jqxhr, textStatus, error) {
                console.error('Error loading JSON file:', textStatus, error);
            });
        }

    </script>
   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../Javascript/app.js"></script>
    <script src="../Javascript/search.js"></script>
    }