@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = ""; // Specify the user layout
}
<head>
    <link rel="stylesheet" href="~/css/SignIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="icon" href="/assets/Brand/LogoPlane.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<div class="background">
    <div class="layer">
        <div class="form-container">
            <form class="RegisterForm" id="account" method="post">
                <div class="Left-Side">
                    <div class="title">
                        <img src="~/assets/Brand/Logo.png" width="200px">

                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="inputQue">
                        <label>Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username"
                               aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="inputQue">
                        <label>Password</label>
                        <input UseSubmitBehavior="false" type="password" id="password-field"
                               asp-for="Input.Password" class="form-control" autocomplete="new-password"
                               aria-required="true" />
                        <span style=" -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;" toggle="#password-field" class="hello toggle-password">
                            Show Password
                        </span>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>

                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input style="width: 10%;" class="form-check-input" asp-for="Input.RememberMe" />
                                <span>@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                    </div>
                    <div class="CTA-BTN">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </div>
            </form>
           @*  <div class="col-md-6 col-md-offset-2">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
 *@
        </div>


    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
