@using ZoomTourism.DataAccess.Repository.IRepository;
@using ZoomTourism.DataAccess.Repository;
@using ZoomTourism.Models;

@model IEnumerable<ATask>
@{

    var doneTasks = Model.Where(task => task.TaskStatus.ToString().ToLower() == "done").ToList();
    var inprogressTasks = Model.Where(task => task.TaskStatus.ToString().ToLower() == "inprogress").ToList();
    var todoTasks = Model.Where(task => task.TaskStatus.ToString().ToLower() == "todo").ToList();
}

@{
    Layout = "_AdminLayout"; // Specify the user layout
}
<head>

    <link rel="stylesheet" href="~/css/TasksView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Employees.css" asp-append-version="true" />

    <title>Tasks</title>

</head>
<div class="tasks-page" style="display: flex;
    width: 100%;
    gap: 1rem;
    padding: 0rem 2rem;
    flex: 1;
    overflow-y: hidden;
    flex-direction: column;">
<div class="add-employee-button-container" style="padding:0rem 0rem 1rem 0rem !important">
        <a asp-action="AdminDashboard" asp-controller="Home" asp-area="Admin">← back</a>
        <a asp-action="Upsert" asp-controller="Task" asp-area="Admin">Add a new task</a>
</div>
    <section class="tasks-board">

        <div id="tasks-column-1" class="tasks-column">
            <div class="column-header">
                <div class="column-title">
                    <h2>To Do</h2>
                    <span class="task-count">(0)</span>
                </div>
                <a href="">+ New Task</a>
            </div>
            <div class="tasks">
                @if (todoTasks.Count > 0)
                {
                    @foreach (var task in todoTasks.OrderByDescending(p => p.DueDate).ToList())
                    {

                        <div class="task">
                            <div class="task-header">
                                <div class="@task.TaskPriority.ToString().ToLower() Priority">
                                    <p>@task.TaskPriority.ToString()</p>
                                </div>
                                <div class="dropdown">
                                    <div class="three-dots">
                                        <img src="/assets/Icons/threedots.png" height="20px" alt="">
                                    </div>
                                    <div class="dropdown-content">
                                        <a asp-action="Upsert" asp-route-id="@task.Id">Edit</a>
                                        <a onClick=Delete('/Admin/Task/DeletePost/@task.Id') class="Delete-button">Delete</a>
                                        <div class="status-dropdown">
                                            <a asp-action="TaskStatusInProgress" asp-route-id="@task.Id">In Progress</a>
                                            <a asp-action="TaskStatusDone" asp-route-id="@task.Id">Done</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="task-content collapsed">
                                <h3>@task.Title</h3>
                                <p>@task.Description</p>

                            </div>

                            <div class="task-footer">
                                <div class="task-calender">
                                    <img src="/assets/Icons/calender.png" height="30px" alt="calender">
                                    <p>@task.DueDate.ToString("dd MMM, yyyy")</p>
                                </div>
                              

                            </div>
                        </div>



                    }
                }
            

                else
                {
                <div class="no-task">
                    <h3>No Tasks Assigned</h3>
                </div>
                }

               
            </div>
        </div>

        <div id="tasks-column-2" class="tasks-column">
            <div class="column-header">
                <div class="column-title">
                    <h2>In progress</h2>
                    <span class="task-count">(0)</span>
                </div>
                <a href="">+ New Task</a>
            </div>
            <div class="tasks">
                @if (inprogressTasks.Count > 0)
                {
                    @foreach (var task in inprogressTasks.OrderByDescending(p => p.DueDate).ToList())
                    {

                        <div class="task">
                            <div class="task-header">
                                <div class="@task.TaskPriority.ToString().ToLower() Priority">
                                    <p>@task.TaskPriority.ToString()</p>
                                </div>
                                <div class="dropdown">
                                    <div class="three-dots">
                                        <img src="/assets/Icons/threedots.png" height="20px" alt="">
                                    </div>
                                    <div class="dropdown-content">
                                        <a asp-action="Upsert" asp-route-id="@task.Id">Edit</a>
                                        <a onClick=Delete('/Admin/Task/DeletePost/@task.Id') class="Delete-button">Delete</a>
                                        <div class="status-dropdown">
                                            <a asp-action="TaskStatusToDo" asp-route-id="@task.Id">To Do</a>
                                            <a asp-action="TaskStatusDone" asp-route-id="@task.Id">Done</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="task-content collapsed">
                                <h3>@task.Title</h3>
                                <p>@task.Description</p>

                            </div>

                            <div class="task-footer">
                                <div class="task-calender">
                                    <img src="/assets/Icons/calender.png" height="30px" alt="calender">
                                    <p>@task.DueDate.ToString("dd MMM, yyyy")</p>
                                </div>


                            </div>
                        </div>



                    }
                }


                else
                {
                    <div class="no-task">
                        <h3>No Tasks Assigned</h3>
                    </div>
                }
            </div>
        </div>

        <div id="tasks-column-3" class="tasks-column">
            <div class="column-header">
                <div class="column-title">
                    <h2>Done</h2>
                    <span class="task-count">(0)</span>
                </div>
                <a href="">+ New Task</a>
            </div>
            <div class="tasks">
                @if (doneTasks.Count > 0)
                {
                    @foreach (var task in doneTasks.OrderByDescending(p => p.DueDate).ToList())
                    {

                        <div class="task">
                            <div class="task-header">
                                <div class="@task.TaskPriority.ToString().ToLower() Priority">
                                    <p>@task.TaskPriority.ToString()</p>
                                </div>
                                <div class="dropdown">
                                    <div class="three-dots">
                                        <img src="/assets/Icons/threedots.png" height="20px" alt="">
                                    </div>
                                    <div class="dropdown-content">
                                        <a asp-action="Upsert" asp-route-id="@task.Id">Edit</a>
                                        <a onClick=Delete('/Admin/Task/DeletePost/@task.Id') class="Delete-button">Delete</a>
                                        <div class="status-dropdown">
                                            <a asp-action="TaskStatusToDo" asp-route-id="@task.Id">To Do</a>
                                            <a asp-action="TaskStatusInProgress" asp-route-id="@task.Id">In Progress</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="task-content">
                                <h3>@task.Title</h3>
                                <p>@task.Description</p>

                            </div>

                            <div class="task-footer">
                                <div class="task-calender">
                                    <img src="/assets/Icons/calender.png" height="30px" alt="calender">
                                    <p>@task.DueDate.ToString("dd MMM, yyyy")</p>
                                </div>


                                </div>
                        </div>


                    }
                }


                else
                {
                    <div class="no-task">
                        <h3>No Tasks Assigned</h3>
                    </div>
                }
            </div>
        </div>

    </section>
</div>
<script>
    function Delete(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            toastr.success(data.message);
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                })
            }
        })
    }
</script>
@section Scripts{

    <script>
        var currentPage = "tasksPage";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
    <script>
        $(document).ready(function () {
            // When clicking on the three dots
            $(".three-dots").click(function (e) {
                e.stopPropagation(); // Prevent the click event from propagating

                // Find the dropdown content relative to the clicked three dots
                var dropdownContent = $(this).siblings(".dropdown-content");

                // Toggle the display of the dropdown content
                dropdownContent.toggle();
            });

            // When clicking outside the dropdown content, hide it
            $(document).click(function () {
                $(".dropdown-content").hide();
            });

            // Prevent clicks inside the dropdown content from closing it
            $(".dropdown-content").click(function (e) {
                e.stopPropagation(); // Prevent the click event from propagating
            });
        });
      
            // Update task counts on page load
            updateTaskCounts();

        // Function to update task counts
        function updateTaskCounts() {
            // Loop through each tasks column
            $('.tasks-column').each(function () {
                var columnId = $(this).attr('id');
                var taskCount = $('#' + columnId + ' .tasks .task').length;

                // Update the corresponding task count span
                $('#' + columnId + ' .task-count').text('(' + taskCount + ')');
            });
        }
  
    </script>

   
}