@using ZoomTourism.Models.ViewModels;

@model ZoomTourism.Models.ViewModels.TaskVM
@{
    Layout = "_AdminLayout"; // Specify the user layout
}
<head>
    <script src="https://cdn.tiny.cloud/1/17ey362kygya3onsmqifoumhul549v4sc5s58njdpa731on7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />


    <script src="~/js/tableJs.js"></script>
    <title>Create a Task</title>
</head>


<form method="post">
    <input type="hidden" asp-for="@Model.Task.Id" />

    <div class="form-group">
        <label asp-for="@Model.Task.Title"></label>
        <input asp-for="@Model.Task.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Task.Description"></label>
        <input asp-for="@Model.Task.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Task.DueDate"></label>
        <input asp-for="@Model.Task.DueDate" class="form-control" />
    </div>

    <div class="inputQue">
        <label asp-for="@Model.Task.TaskPriority"></label>
        <select asp-for="@Model.Task.TaskPriority" class="form-control">
            <option selected disabled>Select</option>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>

        </select>
    </div>

    <div class="inputQue">
        <label asp-for="@Model.Task.TaskStatus"></label>
        <select asp-for="@Model.Task.TaskStatus" class="form-control">
            <option selected disabled>Select</option>
            <option>ToDo</option>
            <option>InProgress</option>
            <option>Done</option>

        </select>
    </div>

    <div class="form-group">
        <label asp-for="Task.AssignedUserId">Select User</label>
        @Html.DropDownListFor(model => model.Task.AssignedUserId, Model.UserList, "Select User", new { @class = "form-control" })
    </div>

 

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Home" asp-action="AdminDashboard" asp-area="Admin">Cancel</a>
</form>
