@using ZoomTourism.Models.ViewModels;
@using System;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc

@{
    ViewData["Title"] = "Admin Dashboard";

    Layout = "_AdminLayout"; // Specify the user layout
}
@model AdminDashboardVM

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZoomTourismWeb</title>
    <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Total Sales Count');
            data.addColumn({ type: 'string', role: 'tooltip', p: { html: true } });

            var tooltipData = [
        @foreach (var item in Model.SalesChartVM)
        {
            var month = item.Month;
            var salesCount = item.SalesCount;
            var totalSales = item.TotalSales;

            @:['@month', @salesCount, '<div>Total Sales: @salesCount<br>Total Amount: @totalSales</div>'],
        }
                                    ];

            data.addRows(tooltipData);

            var options = {
                title: 'Sales Performance for the Past Three Months',
                hAxis: { title: 'Month', titleTextStyle: { color: '#333' } },
                vAxis: { title: 'Total Sales Count', minValue: 0 },
                width: 483,
                height: 352,
                focusTarget: 'category',  // Show tooltips on hover
                tooltip: { isHtml: true },
                         series: {
                    0: { color: '#C4942F' }  // Color for the data series
                }// Enable HTML content in tooltips
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

</head>
<div class="contentContainer">
    <div class="leftContainer">
        <div class="boxesContainer">

            <div class="carContainerDiv">
            <a asp-action="CarsDashboard" asp-controller="Home" asp-area="Admin" class="carContainer">
                    <div class="textContainer">
                        <p class="translate" data-translate-key="car_text">Car</p>
                    <span>@Model.CarCount</span>
                    </div>
                    <div class="imgContainer">
                        <img src="~/assets/icons/Car-Icon.png" alt="">
                    </div>
                </a>
            </div>
           
            <div class="carContainerDiv">
                <a asp-action="Index" asp-controller="Task" asp-area="Admin"s class="carContainer">
                    <div class="textContainer">
                        <p class="translate" data-translate-key="tasks_text">Tasks</p>
                    <span>@Model.TaskCount</span>
                    </div>
                    <div class="imgContainer">
                        <img src="~/assets/icons/UserTasks.png" alt="">
                    </div>
                </a>
            </div>

        </div>
        <div class="newestLeads">
            <div class="table-container">
                <div class="widgetHeader">
                    <h3 class="translate" data-translate-key="leads_text">Leads</h3>

                    <div class="search">
                        <input type="text" id="searchInput" placeholder="Search..." class="translate" data-translate-key="search_placeholder">
                    </div>

                </div>



                @*//leads DataTable *@
                <div class="DataTable">
                <table >
                        <thead>
                            <tr>
                                <th onclick="sortTable(0, 'text')" data-sort-type="text"
                                    data-sort-direction="asc" class="translate" data-translate-key="name_header">
                                Name
                                    <img class="sort" src="~/assets/icons/DownArrow.png" alt="" height="8px">
                                </th>
                                <th onclick="sortTable(1, 'text')" data-sort-type="text"
                                    data-sort-direction="asc" class="translate" data-translate-key="days_header">
                                Number Of Days
                                    <img class="sort" src="~/assets/icons/DownArrow.png" alt="" height="8px">
                                </th>
                                <th onclick="sortTable(2, 'text')" data-sort-type="text"
                                    data-sort-direction="asc" class="translate" data-translate-key="status_header">
                                Status
                                    <img class="sort" src="~/assets/icons/DownArrow.png" alt="" height="8px">
                                </th>
                                <th onclick="sortTable(3, 'date')" data-sort-type="date"
                                    data-sort-direction="asc" class="translate" data-translate-key="created_date_header">
                                CreatedDate
                                    <img class="sort" src="~/assets/icons/DownArrow.png" alt="" height="8px">
                                </th>
                                <th class="center translate"  data-translate-key="view_header">View</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tbody>
                            @foreach (var Lead in Model.Lead.OrderByDescending(p => p.CreatedDate).ToList().Take(4))
                        {
                            <tr>
                                <td>@Lead.Name</td>
                                <td>@Lead.NumberOfDays</td>
                                    @if (Lead.Status.ToString().ToLower() == "new")
                                    {
                                    <td class=" center state new">
                                        <div>@Lead.Status</div>
                                        </td>
                                    }
                                    else if (Lead.Status.ToString().ToLower() == "pending")
                                    {
                                    <td class=" center state pending">
                                        <div>@Lead.Status</div>
                                    </td>
                                    }
                                    else if (Lead.Status.ToString().ToLower() == "inprogress")
                                    {
                                    <td class=" center state inprogress">
                                        <div>In Progress</div>
                                    </td>
                                    }
                                    else if (Lead.Status.ToString().ToLower() == "finished")
                                    {
                                    <td class=" center state finished">
                                        <div>@Lead.Status</div>
                                    </td>
                                    }
                                    else if (Lead.Status.ToString().ToLower() == "lost")
                                    {
                                    <td class=" center state lost">
                                        <div>@Lead.Status</div>
                                    </td>
                                    }

                                <td>@Lead.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td><a href="/Admin/Lead/Upsert?id=@Lead.Id">View</a></td>
                            </tr>
                          }
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
    <div class="rightContainer">
    <div class="AreaChart" >
        <div id="chart_div" ></div>
        </div>
        <div class="progress-div">
        <div class="chart" id="graph1" data-percent="@Model.ReviewPercentage" data-color="#C4942F">
            </div>
            <div class="Reviews">
                <div style="display:flex;gap: .5rem;align-items: center;">
                    <p class="translate" data-translate-key="total_reviews_text">Total Reviews </p><span>: @Model.ReviewCount</span>

                </div>
                <a href="#" class="translate" data-translate-key="see_details_text">See Details &#8594;</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
   
    <script>
        var currentPage = "adminDashboard";
    </script>
    <script src="~/js/LeadTable.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/IndexTranslation.js"></script>
}